<a href="https://colab.research.google.com/github/LuckyForoozan/MyProjects/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

# Load the dataset
file_path = "/content/sample_data/INVALSI_data_MAT_2324(Foglio 1).csv"
data = pd.read_csv(file_path)

In [8]:
# Show the first 5 rows
print(data.head())

   SCHOOL_ANONYMIZED  CLASS_ANONYMIZED  STUDENT_ANONYMIZED  grade  gender  \
0                  1                 1               14366      5       1
1                  1                 1               14367      5       2
2                  1                 1               14368      5       2
3                  1                 1               14369      5       2
4                  1                 1               14370      5       2

   month  year  place  enrollment_status  origin  ...  proc_2_percentile  \
0     10     2      1                  3       3  ...          15.789474
1      8     3      1                  1       1  ...          73.684211
2      8     3      1                  1       1  ...          84.210526
3      4     3      1                  1       1  ...          89.473684
4      7     3      1                  1       1  ...          84.210526

   proc_3_percentile  student_weight  class_weight  school_weight  \
0                 20        2.807867      2.807692       1.000062
1                 80        2.807867      2.807692       1.000062
2                 80        2.807867      2.807692       1.000062
3                100        2.807867      2.807692       1.000062
4                 60        2.807867      2.807692       1.000062

   WLE_MATH_200  Region_Code  GeoArea_5  ESCS_class  ESCS_student
0    134.636431            1          1   -0.114324  -2.202072682
1    216.447934            1          1   -0.114324  -0.291637212
2    225.964770            1          1   -0.114324   0.652582235
3    250.382532            1          1   -0.114324   1.874240696
4    221.065288            1          1   -0.114324   -0.44548553

[5 rows x 84 columns]

In [9]:
# Show variable types
print(" Variable Types:\n")
print(data.dtypes)

# Check completeness (missing values)
print("\nðŸ“Œ Missing Values per Column:\n")
print(data.isnull().sum())

# Quick overview of the dataset
print("\nðŸ“Œ Dataset Info:\n")
print(data.info())

 Variable Types:

SCHOOL_ANONYMIZED       int64
CLASS_ANONYMIZED        int64
STUDENT_ANONYMIZED      int64
grade                   int64
gender                  int64
                       ...
WLE_MATH_200          float64
Region_Code             int64
GeoArea_5               int64
ESCS_class            float64
ESCS_student           object
Length: 84, dtype: object

ðŸ“Œ Missing Values per Column:

SCHOOL_ANONYMIZED     0
CLASS_ANONYMIZED      0
STUDENT_ANONYMIZED    0
grade                 0
gender                0
                     ..
WLE_MATH_200          0
Region_Code           0
GeoArea_5             0
ESCS_class            0
ESCS_student          0
Length: 84, dtype: int64

ðŸ“Œ Dataset Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16244 entries, 0 to 16243
Data columns (total 84 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   SCHOOL_ANONYMIZED        16244 non-null  int64
 1   CLASS_ANONYMIZED         16244 non-null  int64
 2   STUDENT_ANONYMIZED       16244 non-null  int64
 3   grade                    16244 non-null  int64
 4   gender                   16244 non-null  int64
 5   month                    16244 non-null  int64
 6   year                     16244 non-null  int64
 7   place                    16244 non-null  int64
 8   enrollment_status        16244 non-null  int64
 9   origin                   16244 non-null  int64
 10  age                      16244 non-null  int64
 11  timetable_code           16244 non-null  int64
 12  nursery_attendance       16244 non-null  int64
 13  kindergarten_attendance  16244 non-null  int64
 14  father_birthplace        16244 non-null  int64
 15  father_education         16244 non-null  int64
 16  father_occupation        16244 non-null  int64
 17  mother_birthplace        16244 non-null  int64
 18  mother_education         16244 non-null  int64
 19  mother_occupation        16244 non-null  int64
 20  D1                       16244 non-null  int64
 21  D2                       16244 non-null  int64
 22  D3                       16244 non-null  int64
 23  D4_a                     16244 non-null  int64
 24  D4_b                     16244 non-null  int64
 25  D4_c                     16244 non-null  int64
 26  D5                       16244 non-null  int64
 27  D6                       16244 non-null  int64
 28  D7_a                     16244 non-null  int64
 29  D7_b                     16244 non-null  int64
 30  D8                       16244 non-null  int64
 31  D9                       16244 non-null  int64
 32  D10                      16244 non-null  int64
 33  D11                      16244 non-null  int64
 34  D12                      16244 non-null  int64
 35  D13                      16244 non-null  int64
 36  D14_a                    16244 non-null  int64
 37  D14_b                    16244 non-null  int64
 38  D15                      16244 non-null  int64
 39  D16                      16244 non-null  int64
 40  D17                      16244 non-null  int64
 41  D18                      16244 non-null  int64
 42  D19                      16244 non-null  int64
 43  D20                      16244 non-null  int64
 44  D21_a                    16244 non-null  int64
 45  D21_b                    16244 non-null  int64
 46  D22                      16244 non-null  int64
 47  D23                      16244 non-null  int64
 48  D24                      16244 non-null  int64
 49  D25                      16244 non-null  int64
 50  D26                      16244 non-null  int64
 51  D27                      16244 non-null  int64
 52  D28                      16244 non-null  int64
 53  D29                      16244 non-null  int64
 54  D30                      16244 non-null  int64
 55  D31                      16244 non-null  int64
 56  D32                      16244 non-null  int64
 57  D33                      16244 non-null  int64
 58  D34_a                    16244 non-null  int64
 59  D34_b                    16244 non-null  int64
 60  math_score_raw           16244 non-null  int64
 61  math_score_percentile    16244 non-null  float64
 62  part_1_raw               16244 non-null  int64
 63  part_1_percentile        16244 non-null  float64
 64  part_2_raw               16244 non-null  int64
 65  part_2_percentile        16244 non-null  int64
 66  part_3_raw               16244 non-null  int64
 67  part_3_percentile        16244 non-null  float64
 68  part_4_raw               16244 non-null  int64
 69  part_4_percentile        16244 non-null  float64
 70  proc_1_raw               16244 non-null  int64
 71  proc_2_raw               16244 non-null  int64
 72  proc_3_raw               16244 non-null  int64
 73  proc_1_percentile        16244 non-null  float64
 74  proc_2_percentile        16244 non-null  float64
 75  proc_3_percentile        16244 non-null  int64
 76  student_weight           16244 non-null  float64
 77  class_weight             16244 non-null  float64
 78  school_weight            16244 non-null  float64
 79  WLE_MATH_200             16244 non-null  float64
 80  Region_Code              16244 non-null  int64
 81  GeoArea_5                16244 non-null  int64
 82  ESCS_class               16244 non-null  float64
 83  ESCS_student             16244 non-null  object
dtypes: float64(11), int64(72), object(1)
memory usage: 10.4+ MB
None

In [12]:
selected_columns = [
    "gender", "month", "year", "origin",
    "nursery_attendance", "kindergarten_attendance",
    "father_education", "mother_education",
    "father_occupation", "mother_occupation",
    "Region_Code", "GeoArea_5", "ESCS_student",
    "ESCS_class", "WLE_MATH_200",
    "math_score_raw", "math_score_percentile"
]
df = data[selected_columns].copy()
# Show first rows
print(df.head())

   gender  month  year  origin  nursery_attendance  kindergarten_attendance  \
0       1     10     2       3                   2                        1
1       2      8     3       1                   2                        1
2       2      8     3       1                   2                        1
3       2      4     3       1                   2                        1
4       2      7     3       1                   2                        1

   father_education  mother_education  father_occupation  mother_occupation  \
0                 1                 1                  8                  8
1                 4                 8                  7                  7
2                 8                 4                  7                  7
3                 3                 8                  4                  5
4                 3                99                  8                  7

   Region_Code  GeoArea_5  ESCS_student  ESCS_class  WLE_MATH_200  \
0            1          1  -2.202072682   -0.114324    134.636431
1            1          1  -0.291637212   -0.114324    216.447934
2            1          1   0.652582235   -0.114324    225.964770
3            1          1   1.874240696   -0.114324    250.382532
4            1          1   -0.44548553   -0.114324    221.065288

   math_score_raw  math_score_percentile
0               9                   22.5
1              29                   72.5
2              31                   77.5
3              35                   87.5
4              30                   75.0